<%# メインコンテナ：全体を薄いクリーム色にして和の質感を出す %>
<div class="min-h-screen bg-[#FAF9F6] pb-20">
  <p>
    マイページ
  </p>
  <div class="bg-primary-40 p-8">
    <%= image_tag @user.avatar if @user.avatar.attached? %>
  </div>



  </main>
</div>
