<header id="header" class="scrolled">
  <a href="#" class="logo">
    やま
    <em>ッチ</em>
  </a>

  <nav class="nav-links">
    <a href="#" class="nav-link">使い方</a>
    <a href="#" class="nav-link">機能</a>
    <a href="#" class="nav-link">ログイン・新規登録</a>
    <a href="#" class="nav-cta">相性診断をする</a>
  </nav>
</header>
