<%# 1. アイコンナビゲーション（ヘッダー直下） %>
  <nav class="">
    <div class="flex flex-col md:flex-row">
      <% nav_items = [
        { name: "マイページ", path: profile_path(current_user), icon: "👤"},
        { name: "お気に入り", path: "#", icon: "⭐"},
        { name: "診断", path: new_diagnosis_path, icon: "📋"},
        { name: "おすすめの山", path: mountains_path, icon: "🏔️"},
        { name: "記録", path: "#", icon: "📊"},
        # { name: "", path: , icon: ""}追加用,
      ]%>

      <% nav_items.each do |item| %>
        <%= link_to item[:path], class: "icon-nav #{current_page?(item[:path]) ? 'active' : ''} " do %>
          <span class="text-base mb-1 "><%= item[:icon] %></span>
          <span class="text-[12px] font-bold "><%= item[:name] %></span>
        <% end %>
      <% end %>
    </div>
  </nav>
