<%# 1. アイコンナビゲーション（ヘッダー直下） %>
  <nav class="">
    <div class="flex flex-col md:flex-row">
      <% nav_items = [
        { name: "マイページ", path: profile_path(current_user)},
        { name: "お気に入り", path: favorites_path},
        { name: "診断", path: new_diagnosis_path},
        { name: "おすすめの山", path: mountains_path},
        { name: "登山日記", path: activity_records_path},
        # { name: "", path: }追加用,
      ]%>

      <% nav_items.each do |item| %>
        <%= link_to item[:path],
        class: "nav #{current_page?(item[:path]) ? 'active' : ''} " do %>
        <div class="flex items-center gap-1 ">
          <span class="text-[14px] font-bold "><%= item[:name] %></span>
        </div>
        <% end %>
      <% end %>
    </div>
  </nav>
