@import "tailwindcss";
@import "./diagnoses.css";

@theme {
  --color-primary-10: #F7EDD6;
  --color-primary-20: #FDFCF8; /*文字の基本カラー*/
  --color-primary-30: #F7F5F0; /*main背景色*/
  --color-primary-40: #2A4D38;
  --color-primary-50: #5A8A6A;
  --color-primary-60: #3D6B4F;
  --color-primary-70: #A8D5B5;
  --color-primary-80: #E8F3EC;
  --color-primary-90: #001100;
  --color-primary-100: #8FAF8B;
  --color-primary-200: #6B8F71;
  --color-primary-300: #8B6B4A;
  --color-primary-400: #556B2F;
  --color-primary-500: #839b8a;
  --color-primary-600: #81a78c;
  --color-primary-700: #b8924a;
  --color-primary-800: #F4A460;
  --color-primary-900: #708090;
  --color-primary-1000: #FF6347;
  --color-primary-1100: #FFFFFF;


  --font-sans: 'Noto Sans JP', sans-serif;
  --font-mincho: 'Shippori Mincho B1', serif;
}

html {
  scroll-behavior: smooth;
}

/* header・footer */
.nav-link{
  @apply px-2 py-1 md:px-4
}
.nav-link:hover{
  @apply bg-primary-20/30 px-2 rounded-3xl md:px-4
}

#header {
  @apply fixed top-0 left-0 w-full h-16 z-50 flex items-center justify-between p-8 text-primary-20 transition-all duration-300;
  background: linear-gradient(to bottom, var(--color-primary-100), var(--color-primary-200));
}

#header .nav-cta{
  @apply bg-primary-20 text-primary-50 transition-all duration-300;
}

/* トップページ初期 */
#header.is-top {
  background: transparent;
}

/* スクロール後 */
#header.is-top.is-scrolled {
  @apply text-primary-60 bg-primary-30/95;
}
#header.is-top.is-scrolled .nav-cta {
  @apply bg-primary-50 text-primary-20 ;
}
#header.is-top.is-scrolled .nav-link:hover {
  @apply bg-primary-50/30 px-4 rounded-3xl
}

/* スクロール矢印 */
@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

.scroll-hint {
  animation: float 2s ease-in-out infinite;
}

/* アイコンナビ */
.icon-nav{
  @apply items-center py-2 px-4 border-b-2 border-transparent text-primary-20
}

.active {
  @apply bg-primary-20/50 text-primary-60 rounded-3xl
}

/* 山の詳細 */
  /* ============ 仕切り線 ============ */
  .kamon-rule {
    display:flex;
    align-items:center;
    gap:10px;
    color: var(--color-primary-700);
  }
  .kamon-rule::before,
  .kamon-rule::after {
    content:'';
    flex:1;
    height:1px;
    background: linear-gradient(to right, transparent, var(--color-primary-700) 40%, transparent);
  }

  .box {
    @apply border-3 border-double border-primary-700 relative bg-primary-10/40
    font-mincho
  }

  .cover {
    @apply max-w-4xl mx-auto pt-10 pb-10 px-7
  }

  .grading{
    @apply border-l-2 border-primary-400 md:ml-6 mb-1.5 pl-2
  }

  .grading-content{
    @apply md:flex text-sm
  }

  .grading-item{
    @apply text-primary-400 font-bold
  }
  .grading-sup{
    @apply text-xs text-primary-900
  }

  .text-field input {
    @apply border-2 border-primary-100 rounded-lg py-2 pl-2
    bg-primary-30 w-full
  }

  .box2{
    @apply px-4 py-2 bg-primary-30 w-fit rounded-3xl shadow-sm
  }
